namespace: capi-kubeadm-control-plane-system

namePrefix: capi-kubeadm-control-plane-




apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../../controlplane/kubeadm/config/manager
labels:
- includeSelectors: true
  pairs:
    cluster.x-k8s.io/provider: control-plane-kubeadm
patches:
- path: patch_service_account.yaml
  target:
    group: apps
    kind: Deployment
    name: controller-manager
    namespace: system
    version: v1
- path: patch_healthcheck.yaml
  target:
    group: apps
    kind: Deployment
    name: controller-manager
    namespace: system
    version: v1
- path: ../../../controlplane/kubeadm/config/default/manager_image_patch.yaml
- path: ../../../controlplane/kubeadm/config/default/manager_pull_policy.yaml
